[Unit]
Description=Helium Gateway (gateway-rs)
After=pktfwd.service
Requires=pktfwd.service

[Service]
Type=simple
ExecStart=/usr/local/bin/helium_gateway -c /etc/helium_gateway/settings.toml server
Restart=always
RestartSec=15
StandardOutput=journal
StandardError=journal
SyslogIdentifier=gateway-rs

[Install]
WantedBy=multi-user.target
